<!DOCTYPE html>
<!-- 
    Jady Lei
    31
    SoftDev
    October 8 2024

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from foundations if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      HELLO 
    </h1>
    <p> Request Method: GET </p>
    <p> Username: {{ foo }} </p>
    <br>
    <p> GET: more simple, less secure, used by default </p>
    <p> POST: has to be called specifically, a bit more secure, not actually secure<\p>
    <br>
        <p> Team 31+e: Jady, Brian, Emissary </p>
  </body>

</html>